export ARK_API_KEY=<ark_api_key>                # ByteDance VolcEngine API Key  - https://console.volcengine.com/ark/region:ark+cn-beijing/apiKey
export OPENAI_API_KEY=<openai_api_key>          # OpenAI API Key                - https://platform.openai.com/api-keys
export DEEPSEEK_API_KEY=<deepseek_api_key>      # DeepSeek API Key              - https://platform.deepseek.com/api_keys
export DASHSCOPE_API_KEY=<dashscope_api_key>    # Aliyun DashScope API Key      - https://bailian.console.aliyun.com/?apiKey=1#/api-key